.image-wrapper-1
{
	float: left;
	width: 250px;
	height: 132px;
	background:transparent url("assets/images/hoodie-video-featuring-a-man-with-a-doubtful-expression-4801v.gif") center top no-repeat;
	background-size: 125%;
}

.image-wrapper-1:hover
{
	background-image: url("assets/images/hoodie-video-featuring-a-man-with-a-doubtful-expression-4801v.gif");
}

.image-wrapper-2
{
	float: left;
	width: 250px;
	height: 132px;
	background:transparent url("assets/images/t-shirt-mockup-of-a-tough-man-with-2d-motion-graphics-3315v.gif") center top no-repeat;
	background-size: 125%;
}

.image-wrapper-2:hover
{
	background-image: url("assets/images/t-shirt-mockup-of-a-tough-man-with-2d-motion-graphics-3315v.gif");
}

.image-wrapper-3
{
	float: left;
	width: 250px;
	height: 132px;
	background:transparent url("assets/images/hoodie-video-featuring-a-man-laughing-4800v.gif") center top no-repeat;
	background-size: 125%;
}

.image-wrapper-3:hover
{
	background-image: url("assets/images/hoodie-video-featuring-a-man-laughing-4800v.gif");
}

.image-wrapper-4
{
	float: left;
	width: 250px;
	height: 132px;
	background:transparent url("assets/images/sweatshirt-video-featuring-a-red-haired-woman-smiling-4808v.gif") center top no-repeat;
	background-size: 125%;
}

.image-wrapper-4:hover
{
	background-image: url("assets/images/sweatshirt-video-featuring-a-red-haired-woman-smiling-4808v.gif");
}

.image-wrapper-5
{
	float: left;
	width: 250px;
	height: 132px;
	background:transparent url("assets/images/back-view-video-featuring-a-man-pointing-at-his-hoodie-44096v.gif") center top no-repeat;
	background-size: 125%;
}

.image-wrapper-5:hover
{
	background-image: url("assets/images/back-view-video-featuring-a-man-pointing-at-his-hoodie-44096v.gif");
}

